@CHARSET "UTF-8";
.ui-dialog{border-radius: 0 !important;}
.ui-popup-modal .ui-dialog{box-shadow: none !important;}
.ui-dialog-body{padding: 0 !important;}
.ui-dialog-header{border-bottom: 0 !important;padding: 0 !important;}
.ui-dialog-header .ui-dialog-title{
	padding: 20px 0 !important;border-bottom: 1px solid #e4e4e4 !important;
	color: #333 !important;font-weight: 400 !important;font-size: 18px !important;text-align: center;
}

.ui-dialog-close{
	position: absolute !important;
    left: 100.5% !important;
    top: -10px !important;
    color: #f1f2f3 !important;
    opacity: 1 !important;
    font-size: 35px !important;
    font-weight: normal !important;
}
.sub-title{margin: 0;margin-top: 5px; color: #999999; font-size: 12px;font-weight: normal;}
.ui-dialog-footer button{
	padding: 4px 39px !important;
	background-color: #999 !important;
	color: #fff !important;border-radius: 3px !important;
}
.ui-dialog-footer {
    padding: 10px 20px!important;
}
.ui-dialog-footer button.ui-dialog-autofocus{
	background-color: #fcf428 !important;
    border-color: #fcf428 !important;
    margin-left: 20px !important;
}