@CHARSET "UTF-8";
/*支付dialog*/
.pay-dialog.ui-dialog{
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) !important;
}
.pay-dialog .ui-dialog-header{
	background: url('../../public/fit/images/header_bg.jpg');
}
.pay-dialog .ui-dialog-header .ui-dialog-title{
	padding: 20px 0 !important;border-bottom: 1px solid #e4e4e4 !important;
	color: #fff !important;font-weight: 400 !important;font-size: 18px !important;text-align: center;
}
.pay-dialog .ui-dialog-close{
    color: #f1f2f3 !important;
    opacity: 1 !important;
    font-size: 35px !important;
    font-weight: normal !important;
}